*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Vendeta, sans-serif;
}

h2{
    position: absolute;
    z-index: 2;
    font-size: 2.5rem;
    font-weight: bold;
    top: 4rem;
    left: 2rem;
    text-transform: uppercase;
    display: flex;
    flex-grow: 1;
}

#map{
    width: 100%;
    height: 100%;
}

#search-container{
    position: absolute;
    width: 23rem;
    background-color: #454E53;
    z-index: 2;
    top: 7.5rem;
    left: 2rem;
    border-radius: 1rem;
    display: flex;
    visibility: hidden;
}

#search{
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: .5rem 1.5rem;
}

input{
    flex-grow: 1;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}

i{
    font-size: 1.5rem;
    color: white;
}

#locations-container{
    position: absolute;
    background-color: white;
    width: 23rem;
    z-index: 2;
    top: 10.5rem;
    left: 2rem;
    bottom: 5.5rem;
    border-radius: 1rem;
    display: flex;
    visibility: hidden;
}

#locations-list{
    padding: 0 1.2rem;
    overflow-y: scroll;
    flex-grow: 1;
}

#stores-container-background{
    display: flex;
    border-bottom: 1px solid black;
    transition: all 150ms ease-in-out;
}

#stores-container-background:hover{
    background-color: #ccc;
    border-radius: 1rem;
}

.store-container{
    cursor: pointer;
}

.store-info{
    flex-grow: 1;
}

.address{
    font-size: 1.25rem;
    margin-top: 1.75rem;
}

span{
    display: block;
}

.store-phone-number{
    color: blue;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.store-number-container{
    display: flex;
    align-items: center;
}

.store-number{
    width: 2rem;
    height: 2rem;
    display: flex;background-color: lightskyblue;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#buttons-container{
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    left: 2rem;
    width: 23rem;
    background-color: #9A9FA8;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.button{
    padding: .8rem;
    background-color: dodgerblue;
    border-radius: 1rem;
}

.button:hover{
    cursor: pointer;
}

@media screen and (max-width: 414px) {
    h2{
        right: 1rem;
        left: 1rem;
        font-size: 1.5rem;
    }

    #search-container{
        width: 100%;
        top: 6rem;
        left: 0;
    }

    #locations-container{
        width: 100%;
        top: 23rem;
        left: 0;
    }

    #search{
        padding: .5rem 0;
    }

    input{
        text-align: center;
    }

    .address{
        font-size: 1rem;
        margin-top: 1.75rem;
    }

    #buttons-container{
        bottom: 1rem;
        left: 0;
        width: 100%;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) and (max-height: 800px){

    #search-container{
        left: 2%;
        top: 42%;
    }

    #locations-container{
        top: 55%;
        left: 2%;
        bottom: 1%;
    }

    #buttons-container{
        width: auto;
        height: 90%;
        flex-direction: column;
        align-items: center;
        right: 10%;
        left: auto;
    }
}